 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/shop-4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 136px;
}

.u-section-1 .u-text-1 {
  margin: 29px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 41px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 666px;
}

.u-section-2 .u-group-1 {
  width: 446px;
  min-height: 423px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 71px;
  width: 386px;
  margin: 9px 0 0;
}

.u-section-2 .u-custom-html-2 {
  min-height: 71px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-3 {
  min-height: 71px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-4 {
  min-height: 71px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-5 {
  min-height: 71px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-custom-html-6 {
  min-height: 66px;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
  }

  .u-section-2 .u-custom-html-3 {
    height: auto;
  }

  .u-section-2 .u-custom-html-4 {
    height: auto;
  }

  .u-section-2 .u-custom-html-5 {
    height: auto;
  }

  .u-section-2 .u-custom-html-6 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 320px;
  }
}